{% set process_args = ["beat", "busy", "concurrency", "hostname", "identity", "labels", "pid", "queues", "quiet", "started_at", "tag"] %}

<html>
  <head>
    <title>Sidecliq</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Sidecliq</h1>

    <h2>Processes</h2>
    <table>
      <tr>
        {% for arg in process_args %}
          <th>{{ arg }}</th>
        {% endfor %}
      </tr>
      {% for process in processes %}
        <tr>
          {% for arg in process_args %}
            <td>{{ process.info[arg] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <h2>Workers</h2>
    <table>
      {% for process in processes %}
        {% for worker in process.workers %}
        <tr>
          <td>{{ worker | json_encode }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </table>

    <h2>Enqueued</h2>
    {% for queue in queues %}
      <h3>{{ queue.name }} ({{ queue.size }})</h3>
      {% set jobs = queue.jobs %}
      {% include "jobs.html" %}
    {% endfor %}

    <h2>Retry ({{ retry.size }})</h2>
    {% set jobs = retry.jobs %}
    {% include "jobs.html" %}

    <h2>Scheduled ({{ schedule.size }})</h2>
    {% set jobs = schedule.jobs %}
    {% include "jobs.html" %}

    <h2>Dead ({{ dead.size }})</h2>
    {% set jobs = dead.jobs %}
    {% include "jobs.html" %}
  </body>
</html>
