{% set process_args = ["beat", "busy", "concurrency", "hostname", "identity", "labels", "pid", "queues", "quiet", "started_at", "tag"] %}

<html>
  <head>
    <title>Sidecliq</title>
    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Sidecliq</h1>

    <h2>Processes</h2>
    <table>
      <tr>
        {% for arg in process_args %}
          <th>{{ arg }}</th>
        {% endfor %}
      </tr>
      {% for _name, process in processes %}
        <tr>
          {% for arg in process_args %}
            <td>{{ process.info[arg] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <h2>Jobs</h2>
    <table>
      {% for _name, process in processes %}
        {% for id, job in process.workers %}
        <tr>
          <td>{{ id }}</td>
          <td>{{ job | json_encode }}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </table>

    <h2>Enqueued</h2>
    {% for name, queue in queues %}
      <h3>{{ name }}</h3>
      {% set jobs = queue %}
      {% include "jobs.html" %}
    {% endfor %}

    <h2>Retry</h2>
    {% set jobs = retry %}
    {% include "jobs.html" %}

    <h2>Scheduled</h2>
    {% set jobs = schedule %}
    {% include "jobs.html" %}

    <h2>Dead</h2>
    {% set jobs = dead %}
    {% include "jobs.html" %}
  </body>
</html>
